extends layout.pug
include ./mixins

block main
  h1 Бизнес
  section.articles-category__theme-list
    h2.visually-hidden Список тем
    ul.themes
      each theme in themes
        +theme(theme)
  section.articles-category__list.preview
    h2.visually-hidden Список превью статей
    ul.preview__list
      each preview in previews
        +previewItem(preview)
